html .row{
  margin: 0;
  padding: 0;
}
.header h2 {
  text-align: center;
  margin-top: 80px;
}
.header img {
  margin-left: 150px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* box-shadow: 10px 10px 10px 10px rgba(207, 58, 58, 0.5); */
  padding: 30px;

}
.main-content .row {
  background-color: #fef1e1;
}
.main-content .row p {
  text-align: center;
}
.main-content .row img {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
